/* Global settings */
#root {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    --main-color: #0b439e;
    --secondary-color: #0b6b9e;
  }
  
  /* Utility classes for color themes */
  .primary {
    color: var(--main-color);
  }
  
  .secondary {
    color: var(--secondary-color);
  }
  
  .success {
    color: green;
  }
  
  .info {
    color: lightskyblue;
  }
  
  .active {
    color: var(--main-color) !important;
    font-weight: bold;
    font-size: larger;
  }

  a {
    text-decoration: none;
  }
  